<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Fusisoft Web Application</display-name>

    <!-- Dispatcher Servlet for Spring Controllers -->
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/mt-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <!-- Error Handling -->
    <error-page>
        <error-code>500</error-code>
        <location>/jsps/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/jsps/error.jsp</location>
    </error-page>

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>jsps/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>





